<a href="https://colab.research.google.com/github/AnuBanik/everup-repo/blob/main/Anuradha_Unit_4_Mini_project_Advertising.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

**Import a few libraries you think you'll need (Or just import them as you go along!)**

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('https://raw.githubusercontent.com/niteen11/cuny_lagcc_micro_credential_data_analytics/main/Track%20A/Unit%204%20-%20Machine%20Learning%20and%20Modeling%20Techniques/Dataset/advertising.csv')

**Check the head of ad_data**

In [ ]:
train.head()

   Daily Time Spent on Site  Age  ...            Timestamp  Clicked on Ad
0                     68.95   35  ...  2016-03-27 00:53:11              0
1                     80.23   31  ...  2016-04-04 01:39:02              0
2                     69.47   26  ...  2016-03-13 20:35:42              0
3                     74.15   29  ...  2016-01-10 02:31:19              0
4                     68.37   35  ...  2016-06-03 03:36:18              0

[5 rows x 10 columns]

** Use info and describe() on ad_data**

In [ ]:
train.shape

(1000, 10)

In [ ]:
train.describe()

       Daily Time Spent on Site          Age  ...         Male  Clicked on Ad
count               1000.000000  1000.000000  ...  1000.000000     1000.00000
mean                  65.000200    36.009000  ...     0.481000        0.50000
std                   15.853615     8.785562  ...     0.499889        0.50025
min                   32.600000    19.000000  ...     0.000000        0.00000
25%                   51.360000    29.000000  ...     0.000000        0.00000
50%                   68.215000    35.000000  ...     0.000000        0.50000
75%                   78.547500    42.000000  ...     1.000000        1.00000
max                   91.430000    61.000000  ...     1.000000        1.00000

[8 rows x 6 columns]

In [ ]:
train.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [ ]:
train.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

## Exploratory Data Analysis

Let's use seaborn to explore the data!

Try recreating the plots shown below!

** Create a histogram of the Age**

In [ ]:
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

**Create a jointplot showing Area Income versus Age.**

In [ ]:
sns.set_theme(style="darkgrid")
t = sns.jointplot(x="Age", y="Area Income", data=train,
                  kind="reg", truncate=False,
                  xlim=(0, 70), ylim=(0, 90000),
                  color="m", height=7)

** Create a jointplot of 'Daily Time Spent on Site' vs. 'Daily Internet Usage'**

In [ ]:
sns.set_theme(style="darkgrid")
t = sns.jointplot(x="Daily Internet Usage", y="Daily Time Spent on Site", data=train,
                  kind="reg", truncate=False,
                  xlim=(0, 500), ylim=(0, 100),
                  color="m", height=7)

# Logistic Regression

Now it's time to do a train test split, and train the model.

You'll have the freedom here to choose columns that you want to train on!

** Split the data into training set and testing set using train_test_split**

In [ ]:
train.drop(['Ad Topic Line','City','Country', 'Timestamp'], axis=1, inplace= True)
train.head()

   Daily Time Spent on Site  Age  ...  Male  Clicked on Ad
0                     68.95   35  ...     0              0
1                     80.23   31  ...     1              0
2                     69.47   26  ...     0              0
3                     74.15   29  ...     1              0
4                     68.37   35  ...     0              0

[5 rows x 6 columns]

** Train and fit a logistic regression model on the training set.**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train.drop('Male',axis=1), train['Male'],test_size=0.3, random_state=101)
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression()

## Predictions and Evaluations
** Now predict values for the testing data.**

In [ ]:
predict = logmodel.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       0.51      0.68      0.58       160
           1       0.40      0.25      0.31       140

    accuracy                           0.48       300
   macro avg       0.45      0.46      0.44       300
weighted avg       0.46      0.48      0.45       300

** Create a classification report for the model.**

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, predict))

[[108  52]
 [105  35]]

In [ ]:
plt.figure(figsize=(9,9))
sns.heatmap(confusion_matrix(y_test, predict), annot=True, fmt=".3f", linewidths=.5, square = True, cmap = 'Blues_r');
plt.ylabel('Actual label');
plt.xlabel('Predicted label');
all_sample_title = 'Accuracy Score: {0}'.format(logmodel.score(X_test, y_test))
plt.title(all_sample_title, size = 15);

In [ ]:
from sklearn import metrics
metrics.plot_roc_curve(logmodel, X_test, y_test)