<a href="https://colab.research.google.com/github/AnuBanik/everup-repo/blob/main/Anuradha_2_4_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [44]:
food = ['burger', 'onion fries', 'pizza', 'tacos', 'chipotle']

## 2.	Print out those variables by using a for loop

In [45]:
for x in food:
  print(x)

burger
onion fries
pizza
tacos
chipotle

## 3.	Modify your for loop to add a message to your for loop.

In [46]:
for x in food:
  print(x.title() + " is my favorite food\n")

Burger is my favorite food

Onion Fries is my favorite food

Pizza is my favorite food

Tacos is my favorite food

Chipotle is my favorite food

## 4.	Use a for loop to print even numbers from 1-20.

In [47]:
for even in range(2,21,2):
  print(even)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [48]:
food.sort()
print(food)

['burger', 'chipotle', 'onion fries', 'pizza', 'tacos']

## 6.	Print out the first three elements of your list.

In [49]:
print(food[0])
print(food[1])
print(food[2])

burger
chipotle
onion fries

## 7.	Create a loop to print the last 2 elements of your list.

In [63]:
for x in food[-2:]:
  print(x)

pizza
tacos