<a href="https://colab.research.google.com/github/AnuBanik/everup-repo/blob/main/Anuradha_2_6_Dictionaries_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
patient_1 = {'first_name': 'John', 'last_name': 'Luc'}
print(patient_1['first_name'])
print(patient_1['last_name'])

John
Luc

In [ ]:
patient_name = patient_1['first_name']
print('hello there, ' + patient_name)

hello there, John

In [ ]:
patient_1['MRN'] = '112899'
patient_1['DOB'] = '02102000'
print(patient_1)

{'first_name': 'John', 'last_name': 'Luc', 'MRN': '112899', 'DOB': '02102000'}

PUTTING IT ALL TOGETHER

In [ ]:
patient_1 = {
 'first_name': 'John',
 'last_name': 'Doe',
 'MRN': '257896',
 'DOB': '02102000'   
}
print(patient_1)

{'first_name': 'John', 'last_name': 'Doe', 'MRN': '257896', 'DOB': '02102000'}

EXERCISE

In [ ]:
friend = {'first_name': 'Sivia', 'last_name': 'Naimer', 'age': '27', 'city': 'NYC', 'country': 'United States'}
print(friend['first_name'])
print(friend['last_name'])
print(friend['age'])
print(friend['city'])
print(friend['country'])

Sivia
Naimer
27
NYC
United States

In [ ]:
info = {
    'name_1 and age': 'John Doe, Age: 28',
    'name_2 and age': 'Ciri Elise, Age: 18',
    'name_3 and age': 'Sanchita Rahman, Age: 23',
    'name_4 and age': 'Joseph Mil, Age: 25',
    'name_5 and age': 'Todd Kelvin Age: 19'    
}
print(info['name_1 and age'])
print(info['name_2 and age'])
print(info['name_3 and age'])
print(info['name_4 and age'])
print(info['name_5 and age'])

John Doe, Age: 28
Ciri Elise, Age: 18
Sanchita Rahman, Age: 23
Joseph Mil, Age: 25
Todd Kelvin Age: 19

In [ ]:
glossary = {
    'Python': 'object oriented language',
    'List' :'a collection of items in a specific order',
    'Dictionaries' : 'a collection of key-value pairs'
}
print('GLOSSARY:')
print('Python: ' + glossary['Python'])
print('List: ' + glossary['List'])
print('Dictionaries: ' + glossary['Dictionaries'] )

GLOSSARY:
Python: object oriented language
List: a collection of items in a specific order
Dictionaries: a collection of key-value pairs

KEYS

In [ ]:
friends_age = {
    'nick': '30',
    'jonh': '20',
    'amanda': '28'
}
for name in friends_age.keys():  #.keys() only pulls out keys and not values
  print(name.title())

Nick
Jonh
Amanda

In [ ]:
friends_age = {
    'nick': '30',
    'jonh': '20',
    'amanda': '28'
}
for name, age in friends_age.items():   #.items() pulls out both keys and values
  print(name.title())
  print(age.title() + '\n')

Nick
30

Jonh
20

Amanda
28

WHILE LOOP

In [ ]:
i = 1
while i < 6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

INPUT

In [ ]:
username = input("Please enter a username: ")
print("Username is: " + username)

Please enter a username: Anu
Username is: Anu

In [ ]:
#input while sth
prompt = "Input a message. This will repeat unitl you type 'quit' "
message = ""

while message != 'quit':
  message = input(prompt)
  print(message)

Input a message. This will repeat unitl you type 'quit' quit
quit

FUNCTION

In [ ]:
def greeting():
  print("Hello there!")
greeting()

Hello there!

In [ ]:
def my_function(name):
  print("Hi there " + name)
my_function('Anu')

Hi there Anu

EXERCISE

In [ ]:
def my_function(age):
  print("My age is " + age)
my_function('22')

My age is 22

In [ ]:
def greeting(firstname, lastname, age):
  print("I am " + firstname + " " + lastname + " and I am " + str(age) + " years old.")
greeting('John', 'Doe', 43 )

I am John Doe and I am 43 years old.

EXERCISE

In [ ]:
def function(city, country):
  print(city + ' is the capital of ' + country + '.')
function('Dhaka', 'Bangladesh')
function('Delhi', 'India')
function('London', 'England')

Dhaka is the capital of Bangladesh.
Delhi is the capital of India.
London is the capital of England.

In [ ]:
def new_function(city = 'Dhaka', country = 'Bangladesh'): #default parameters
  print(city + ' is the capital of ' + country + '.')
new_function()

Dhaka is the capital of Bangladesh.